.popup__img-subline {
    position: absolute;
    bottom: -25px;
    left: 0;
    color: white;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    max-width: 291px;
    margin: 0;
}