.profile-info__image-container {
    margin-right: 40px;
    position: relative;
    z-index: 0;
}

.profile-info__image-container:hover .profile-info__avatar-customizaton {
    visibility: visible;
    cursor: pointer;
}

@media screen and (max-width: 620px) {
    .profile-info__image-container {
        margin: 0 auto;
    }
}